<% include partials/header%>
<link rel="stylesheet" type="text/css" href="css/index.css">
<title>Home</title>
<div class="w-75 mx-auto mt-5 card hero">
	<h5 class="card-header">Latest Movies 
		<span class="float-right"><a class="last" href=""><i class="fas fa-forward"></i></a></span>
		<span class="float-right"><a class="next" href=""><i class="fas fa-caret-right"></i></a></span>
		<span class="float-right"><a class="previous" href=""><i class="fas fa-caret-left"></i></a></span>
		<span class="float-right"><a class="first" href=""><i class="fas fa-backward"></i></a></span>
	</h5>
	<div class="row mx-auto">
		<div class="card col-lg-3 col-sm-6 my-3 border-left-0 border-right-0 border-top-0">
	  		<a href="/movie/" class="image-link"><img src="img/Ellipsis.gif" class="card-img-top latest" alt="Movie Poster"></a>
	  		<div class="card-body text-center">
	    		<h5 class="card-title"></h5>
	    		<p class="card-text"></p>
	    		<a href="/movie/" class="btn btn-primary read-more">Read More..</a>
	  		</div>
		</div>
		<div class="card col-lg-3 col-sm-6 my-3 border-left-0 border-right-0 border-top-0">
	  		<a href="/movie/" class="image-link"><img src="img/Ellipsis.gif" class="card-img-top latest" alt="Movie Poster"></a>
	  		<div class="card-body text-center">
	    		<h5 class="card-title"></h5>
	    		<p class="card-text"></p>
	    		<a href="/movie/" class="btn btn-primary read-more">Read More..</a>
	  		</div>
		</div>
		<div class="card col-lg-3 col-sm-6 my-3 border-left-0 border-right-0 border-top-0">
	  		<a href="/movie/" class="image-link"><img src="img/Ellipsis.gif" class="card-img-top latest" alt="Movie Poster"></a>
	  		<div class="card-body text-center">
	    		<h5 class="card-title"></h5>
	    		<p class="card-text"></p>
	    		<a href="/movie/" class="btn btn-primary read-more">Read More..</a>
	  		</div>
		</div>
		<div class="card col-lg-3 col-sm-6 my-3 border-left-0 border-right-0 border-top-0">
	  		<a href="/movie/" class="image-link"><img src="img/Ellipsis.gif" class="card-img-top latest" alt="Movie Poster"></a>
	  		<div class="card-body text-center">
	    		<h5 class="card-title"></h5>
	    		<p class="card-text"></p>
	    		<a href="/movie/" class="btn btn-primary read-more">Read More..</a>
	  		</div>
		</div>
	</div>
 	<div class="row mx-auto">
		<div class="card col-lg-3 col-sm-6 my-3 border-left-0 border-right-0 border-top-0">
	  		<a href="/movie/" class="image-link"><img src="img/Ellipsis.gif" class="card-img-top latest" alt="Movie Poster"></a>
	  		<div class="card-body text-center">
	    		<h5 class="card-title"></h5>
	    		<p class="card-text"></p>
	    		<a href="/movie/" class="btn btn-primary read-more">Read More..</a>
	  		</div>
		</div>
		<div class="card col-lg-3 col-sm-6 my-3 border-left-0 border-right-0 border-top-0">
	  		<a href="/movie/" class="image-link"><img src="img/Ellipsis.gif" class="card-img-top latest" alt="Movie Poster"></a>
	  		<div class="card-body text-center">
	    		<h5 class="card-title"></h5>
	    		<p class="card-text"></p>
	    		<a href="/movie/" class="btn btn-primary read-more">Read More..</a>
	  		</div>
		</div>
		<div class="card col-lg-3 col-sm-6 my-3 border-left-0 border-right-0 border-top-0">
	  		<a href="/movie/" class="image-link"><img src="img/Ellipsis.gif" class="card-img-top latest" alt="Movie Poster"></a>
	  		<div class="card-body text-center">
	    		<h5 class="card-title"></h5>
	    		<p class="card-text"></p>
	    		<a href="/movie/" class="btn btn-primary read-more">Read More..</a>
	  		</div>
		</div>
		<div class="card col-lg-3 col-sm-6 my-3 border-left-0 border-right-0 border-top-0">
	  		<a href="/movie/" class="image-link"><img src="img/Ellipsis.gif" class="card-img-top latest" alt="Movie Poster"></a>
	  		<div class="card-body text-center">
	    		<h5 class="card-title"></h5>
	    		<p class="card-text"></p>
	    		<a href="/movie/" class="btn btn-primary read-more">Read More..</a>
	  		</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/index.js">
</script>
<% include partials/footer%>