<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<title>Signin</title>
<link rel="stylesheet" type="text/css" href="css/login.css">
<div class="box_login">
   <div  class="hero">
   		<h1><a href="/">Import.cds</a></h1>
   </div>
   <div class="form_div">
   		<form action="login" method="POST">
		<div><input type="text" name="username" placeholder="username" required></div>
		<div class="password"><input type="password" name="password" placeholder="Password" required autocomplete="current-password"><i class="far fa-eye-slash"></i></div>
      <% if(wrong_crendentials) { %>
      <div class="auth_message">Incorrect username or password</div>
      <% }%>
		<div class="button_login"><input type="submit" name="submit_login" value="Sign In" ></div>
	</form>
   </div>
   <div  class="Sign_UP"> <p>Don't have an account? <a href="signup">Sign Up</a></p></div>
</div>
<script type="text/javascript" src="js/login.js"></script>
<% include partials/footer%>



